<section>
    <div class="split">
        <div class="column">
            <h2>Info about tools, algorithms, and utility</h2>
            <h3>Black Litterman</h3>
            <ul>
                <li>Optimizes portfolios by calculating return vs risk for each investment</li>
                <li>Uses Bayesian priors</li>
            </ul>
            <br>
            <h3>Look out for future additions</h3>
            <br>
            <h3> MASSIVE DISCLAIMER <br> 
                I am not an investment proffessional; Use at your own risk</h3>
        </div>

        <div class="column">
            <img class="imgResize" src="/images/" alt="Temp">
        </div>
    </div>
</section>