<section>
    <div class="split">
        <div class="column">
            <h2>Info about tools, algorithms, and utility</h2>
            <h3>Black Litterman</h3>
            <ul>
                <li>Optimizes portfolios by calculating return vs risk</li>
                <li>Uses Bayesian priors</li>
                <li>Accepts expected returns with confidence measure</li>
            </ul>
            <br>
            <h3>Random Forest Classifier</h3>
            <ul>
                <li>Predicts index or sector returns</li>
                <li>Uses various features for predictions</li>
                <li>Accesses accuracy of predicitons</li>
                <li>Tool provides framework for predictions</li>
                <li>Can provide forecast of index or sector at any date</li>
                <li>Actual predicitons not outputted to user</li>
            </ul>
            <br>
            <h3>Look out for future additions</h3>
            <br>
            <h3> MASSIVE DISCLAIMER <br> 
                I am not an investment proffessional; use at your own risk</h3>
        </div>

        <div class="column">
            <img class="imgResize" src="/images/upward-graph-vector-icon.png" alt="Temp">
        </div>
    </div>
</section>