<section>
    <div class="split">
        <div class="column">
            <h2>How does it work?</h2>
            <br>
            <p>
                Info about process and black litterman model <br> <br>
                WIP <br> <br>

                MASSIVE DISCLAIMER
            </p>
        </div>

        <div class="column">
            <img class="imgResize" src="/images/" alt="Temp">
        </div>
    </div>
</section>