<section>
    <div class="split">
        <div class="column">
            <h2>Algorithm</h2>
            <br/>
            <p>
                WIP
                Connect python code
            </p>
        </div>

        <div class="column">
            <img class="imgResize" src="/images/" alt="Temp">
        </div>
    </div>
</section>