<section>
    <div class="split">
        <div class="column">
            <ul>
                <% for (let w of weights) { %>
                    <li><%= w %></li>
                <% } %>
            </ul>
        </div>

        <div class="column">
            <h2>MASSIVE DISCLAIMER</h2>
            <br/>
        </div>
    </div>
</section>