<section>
    <div class="split">
        <div class="column">
            <h2>Optimize Your Stock Investments</h2>
            <h3>Using the Black Litterman Algorithm</h3>
            <p class="general-info">
                This is an implementation of the Black Litterman algorithm through PyPortfolioOpt; focused on ease of user experience 
                <br> <br>
                Run times may vary based on internet connection speed to aquire stock information
            </p>
            <h3> MASSIVE DISCLAIMER <br> 
                I am not an investment proffessional; use at your own risk</h3>
        </div>

        <div class="column">
            <br>
            <form action="/bl-form" method="post">
                <label for="tickers">Enter tickers separated by a comma:</label> <br>
                <input type="text" id="tickers" name="tickers" placeholder="AAPL, MSFT, META" required> 
                <br> <br>
                <label for="expected">Enter expected annualized return for each stock:</label> <br>
                <input type="text" id="expected" name="expected" placeholder="0.1, 0.1, 0.05" required> 
                <br> <br>
                <label for="confidences">Enter confidence (from 0 to 1) for each expected return:</label> <br>
                <input type="text" id="confidences" name="confidences" placeholder="0.6, 0.4, 0.2" required> 
                <br> <br>
                <input type="submit" value="Submit"> 
                <label>Each run takes around 15 seconds</label>
            </form>
        </div>
    </div>
</section>