<section>
    <div class="split">
        <div class="column">
            <h2>Contact Us</h2>
            <p>
                For general inquiries, email dan.olevsky@gmail.com
            </p>
        </div>

        <div class="column">
            <img class="imgResize" src="/images/Earth.png" alt="Temp">
        </div>
    </div>
</section>