<section>
    <div class="split">
        <div class="column">
            <h2>Contact Us</h2>
            <br/>
            <p>
                For general inquiries, email us at  <br/> <br/>
                WIP Include form 
                Socials Below
            </p>
        </div>

        <div class="column">
            <img class="imgResize" src="/images/" alt="Temp">
        </div>
    </div>
</section>