<section>
    <div class="split">
        <div class="column">
            <h2>Web platform to host user friendly investment tools, algorithms, and utilities</h2>
            <h3>Emphasizing ease of use and efficient deployment </h3> 
            <br>
            <p class="general-info">
                Check out the different tabs for more information
            </p> 
            <br>
            <h3> MASSIVE DISCLAIMER <br> 
                I am not an investment proffessional; use at your own risk</h3>
        </div>
    </div>
</section>