<section>
    <h2>Diversify Your Investments</h2>
    <h3>Using the Black Litterman Algorithm</h3>
    <br/>
    <p>
        MASSIVE DISCCLAIMER <br> <br>
        
        Basic Information <br>
        WIP <br> <br>

        Navigate to the about tab for a more in depth explanation 
    </p>
</section>