<html>
    <head>
        <title>DO Investment</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div id="header">
                <div id="logo">
                    <img src="/images/DOLogoAloeveraFont.png" alt="DO Logo">
                </div>
                <div id="cover">
                    <h1>Investment</h1>
                    <h2>Providing Tools For Investors</h2>
                </div>
            </div>
        </header>
        
        <nav id="central-nav">
            <% if (active == "home") { %>
                <a class="central-nav-link" id="active-central-nav-link" href="/">Home</a>
            <% } else { %>
                <a class="central-nav-link" href="/">Home</a>
            <% } %>
            
            <% if (active == "about") { %>
                <a class="central-nav-link" id="active-central-nav-link" href="/about">About</a>
            <% } else { %>
                <a class="central-nav-link" href="about">About</a>
            <% } %>
            
            <% if (active == "bl" || active == "rfc") { %>
                <div class="dropdown">
                    <button class="dropbtn" id="active-central-nav-link" onclick="toggleDropdown()">Tools</button>
                    <div class="dropdown-content" id="myDropdown">
                        <% if (active == "bl") { %>
                            <a class="active-dropdown" id="active-central-nav-link" href="/blacklitterman">Black Litterman</a>
                        <% } else { %>
                            <a href="blacklitterman">Black Litterman</a>
                        <% } %>
    
                        <% if (active == "rfc") { %>
                            <a class="active-dropdown" id="active-central-nav-link" href="/randomforestclassifier">Random Forest Classifier</a>
                        <% } else { %>
                            <a href="randomforestclassifier">Random Forest Classifier</a>
                        <% } %>
                    </div>
                </div>
            <% } else { %>
                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown()">Tools</button>
                    <div class="dropdown-content" id="myDropdown">
                        <a href="blacklitterman">Black Litterman</a>
                        <a href="randomforestclassifier">Random Forest Classifier</a>
                    </div>
                </div>
            <% } %>
            
            
            <% if (active == "contact") { %>
                <a class="central-nav-link" id="active-central-nav-link" href="/contact">Contact</a>
            <% } else { %>
                <a class="central-nav-link" href="contact">Contact</a>
            <% } %>
            
        </nav>
        
        <section>
            <%- body%>
        </section>
    </body>
    <footer>
        <div class="footer">
                <p class="general-info">Daniel Olevsky @2023</p>
                <div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
    </footer>

    <script>
        // When user clicks on dropdown, toggle visibility of dropdown content 
        function toggleDropdown() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close dropdown if user clicks outside of it
        window.onclick = function(e) {
          if (!e.target.matches('.dropbtn')) {
          var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
              myDropdown.classList.remove('show');
            }
          }
        }
    </script>
</html>