<html>
    <head>
        <title>DO Investment</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div id="header">
                <div id="logo">
                    <img src="/images/DOLogoAloeveraFont.png" alt="DO Logo">
                </div>
                <div id="cover">
                    <h1>Investment</h1>
                    <h2>Providing Tools For Investors</h2>
                </div>
            </div>
        </header>
        
        <nav>
            <a href="/">Home</a>
            <a href="about">About</a>
            <a href="blacklitterman">Black Litterman</a>
            <a href="contact">Contact</a>
        </nav>
        
        <section>
            <%- body%>
        </section>
    </body>
    <footer>
        <div class="footer">
                <p>Daniel Olevsky @2023</p>
                <div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
    </footer>
</html>