<section>
    <div class="split">
        <div class="column">
            <ul>
                <% if (data.length > 0) { %>
                        <h3><%= symbol %></h3>
                        <h3><%= data %></h3>
                <% } else { %>
                    <h2> The app encountered an error </h2>
                    <h3> Make sure the inputs match proper format </h3>
                    <h4> If the problem persists, there are options to reach us under the contact tab </h4>
                <% } %>
            </ul>
        </div>

        <div class="column">
            <h2> MASSIVE DISCLAIMER <br> 
                I am not an investment proffessional; use at your own risk</h3>
            <br/>
        </div>
    </div>
</section>