/* Layout */
/* Header */
#header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    font-family: sans-serif;
}

#logo img {
    padding: 10px;
    width: 200px;
    height: auto;
    margin-right: 10px;
}

#cover {
    flex: 1;
    color: darkslategrey;
}

/* Main Navigation Bar */
#central-nav {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
} 

.central-nav-link {
    display: block;
    color: white; 
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    padding: 16px 16px;
    text-decoration: none;
}

#active-central-nav-link {
    background-color: lightgray;
    color: darkslategray;
}

.central-nav-link:hover, #active-central-nav-link.central-nav-link:hover, button#active-central-nav-link:hover, .dropdown:hover .dropbtn, .dropbtn:focus{
    background-color: whitesmoke;
    color: darkgray;
}

/* Nav bar dropdown */
  
.dropdown .dropbtn {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 20px;  
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: inherit;
    font-family: sans-serif;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    font-family: sans-serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover, #active-central-nav-link.active-dropdown:hover {
    background-color: darkgray;
}
  
.show {
    display: block;
}

/* General page stlyings */
section {
    font-family: sans-serif;
    padding: 30px;
    width: 90%;
}

.split {
    display: flex;
}

.column {
    flex: 50%;
    outline-style: double;
    padding: 40px;
}

img.imgResize {
    height: auto;
    width: 100%;
}

p.general-info {
    font-size: larger;
}

li {
    padding: 10px;
    font-size: larger;
}

.footer {
    display: flex;
    font-family: sans-serif;
    font-size: larger;
    text-align: center;
    justify-content: space-between;
    color: white;
    background-color: darkslategray;
    padding: 10px;
}

/* Social Buttons */
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Hover effect*/
.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}